In [1]:
import pandas as pd
import sqlite3

In [2]:
f_rec = pd.read_csv('cleaned_financials.csv')

In [3]:
comp = pd.read_csv('companies.csv')

In [4]:
conn = sqlite3.connect('financials.db')
curr = conn.cursor()

In [6]:
create_companies_table = '''
CREATE TABLE IF NOT EXISTS companies (
    Symbol VARCHAR(50) PRIMARY KEY NOT NULL,
    Name VARCHAR(1000) NOT NULL,
    LastSale FLOAT,
    NetChange FLOAT,
    PercentChange FLOAT,
    MarketCap FLOAT,
    Country VARCHAR(500),
    IPOYear YEAR,
    Volume INT,
    Sector VARCHAR(1000),
    Industry VARCHAR(1000)
);
'''
curr.execute(create_companies_table)

In [7]:
create_financial_records_table = '''
CREATE TABLE IF NOT EXISTS financial_records (
    Symbol VARCHAR(50) NOT NULL,
    `Period Ending` DATE,
    `Total Revenue` FLOAT,
    `Cost of Revenue` FLOAT,
    `Gross Profit` FLOAT,
    `Net Income` FLOAT,
    `Net Income Applicable to Common Shareholders` FLOAT,
    `Total Assets` FLOAT,
    `Total Liabilities` FLOAT,
    `Total Equity` FLOAT,
    FOREIGN KEY (Symbol) REFERENCES companies(Symbol)
);
'''

curr.execute(create_financial_records_table)

In [8]:
insert_into_companies = '''INSERT INTO companies 
(Symbol, Name, LastSale, NetChange, PercentChange, MarketCap, Country, IPOYear, Volume, Sector, Industry)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
'''

In [9]:
insert_into_financial_records = '''INSERT INTO financial_records 
(Symbol, `Period Ending`, `Total Revenue`, `Cost of Revenue`, `Gross Profit`, `Net Income`, 
`Net Income Applicable to Common Shareholders`, `Total Assets`, `Total Liabilities`, `Total Equity`)
VALUES (?,?,?,?,?,?,?,?,?,?);
'''

In [12]:
for i in range(len(comp)):
    data = list(comp.iloc[i])
    curr.execute(insert_into_companies, data)

In [13]:
for i in range(len(f_rec)):
    data = list(f_rec.iloc[i])
    curr.execute(insert_into_financial_records, data)

In [14]:
conn.commit()
conn.close()

In [15]:
# CREATE TABLE companies (
#     Symbol VARCHAR(50) PRIMARY KEY NOT NULL,
#     Name VARCHAR(1000) NOT NULL,
#     LastSale FLOAT,
#     NetChange FLOAT,
#     PercentChange FLOAT,
#     MarketCap FLOAT,
#     Country VARCHAR(500),
#     IPOYear YEAR,
#     Volume INT,
#     Sector VARCHAR(1000),
#     Industry VARCHAR(1000)
# );

In [94]:
comp.isna().sum()
comp.dtypes

Symbol         object
Name           object
Last Sale     float64
Net Change    float64
% Change      float64
Market Cap    float64
Country        object
IPO Year      float64
Volume          int64
Sector         object
Industry       object
dtype: object

In [56]:
for i in range(len(comp())):
    data = list(comp.head().iloc[i])

[0, 'A', 'Agilent Technologies Inc. Common Stock', 114.19, 0.59, '0.519%', 33410540704.0, 'United States', 1999.0, 1727789, 'Industrials', 'Biotechnology: Laboratory Analytical Instruments']
[1, 'AA', 'Alcoa Corporation Common Stock ', 26.0, -0.95, '-3.525%', 4640269608.0, 'United States', 2016.0, 4079808, 'Industrials', 'Aluminum']
[2, 'AACG', 'ATA Creativity Global American Depositary Shares', 0.861, 0.001, '0.116%', 27226688.0, 'China', 2008.0, 3975, 'Real Estate', 'Other Consumer Services']
[3, 'AACI', 'Armada Acquisition Corp. I Common Stock', 10.75, 0.025, '0.233%', 0.0, 'United States', 2021.0, 163, 'Finance', 'Blank Checks']
[4, 'AACIW', 'Armada Acquisition Corp. I Warrant', 0.0596, 0.0, '0.00%', 0.0, 'United States', 2021.0, 14, 'Finance', 'Blank Checks']

In [57]:
comp['% Change'] = comp['% Change'].str.replace('%','').astype(float)

In [62]:
comp.drop('Unnamed: 0',axis=1,inplace=True)

In [64]:
comp.dtypes

Symbol         object
Name           object
Last Sale     float64
Net Change    float64
% Change      float64
Market Cap    float64
Country        object
IPO Year      float64
Volume          int64
Sector         object
Industry       object
dtype: object

In [89]:
comp.to_csv('companies.csv',index=False)

In [82]:
# mask = comp['Symbol'].isna()

In [85]:
# comp.loc[mask,['Symbol']]='NLLADS'

In [95]:
# comp.isna().sum()

In [99]:
f_rec.head()

,Symbol,Period Ending:,Total Revenue,Cost of Revenue,Gross Profit,Net Income,Net Income Applicable to Common Shareholders,Total Assets,Total Liabilities,Total Equity
0,A,2022-10-31,6848000.0,3126000.0,3722000.0,1254000.0,1254000.0,10532000.0,5227000.0,5305000.0
1,A,2021-10-31,6319000.0,2912000.0,3407000.0,1210000.0,1210000.0,10705000.0,5316000.0,5389000.0
2,A,2020-10-31,5339000.0,2502000.0,2837000.0,719000.0,719000.0,9627000.0,4754000.0,4873000.0
3,A,2019-10-31,5163000.0,2358000.0,2805000.0,1071000.0,1071000.0,9452000.0,4704000.0,4748000.0
4,AAT,2022-12-31,422648.0,152433.0,270215.0,43506.0,43506.0,2987881.0,1766616.0,1221265.0

In [15]:
f_rec.shape

(21677, 10)

In [16]:
comp.shape

(7396, 11)